<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<%= render "shared/navbar" %>

<div class="index-page-bg">
  <!-- Page Conent -->
  <header id="body-up">
    <div class="header-content">
      <div class="header-content-inner">
        <div class="left-text">
          <h1 id="homeHeading">Connect around<br><span>Live Stream</span></h1>
          <p>A new way to experience livestream<br>for both artists and participants.</p>
        </div>
        <%= image_tag('Webapp.png', class: "webapp") %>
      </div>
    </div>
  </header>

  <aside class="body-down">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <!-- <h1 id="homeHeading">Always find virtual things to do!</h1> -->
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <%= link_to root_path do %>
              <i class="fas fa-link"></i>
              <h3>Embed Your Live</h3>
            <% end %>
            <p class="text-faded">Embed your live from <%= image_tag('youtube.png', class: "youtube-icon") %> or <%= image_tag('facebook.png', class: "fb-icon") %> easily!</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <%= link_to root_path do %>
              <i class="fas fa-share"></i>
              <h3>Share Your Link </h3>
            <% end %>
            <p class="text-faded">Share Your SquareParty Link to people!</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <%= link_to root_path do %>
              <%= image_tag('dancing-icon.png', class: "dancing-icon") %>
              <h3>Connect With Your Fan</h3>
            <% end %>
            <p class="text-faded">See participant dance around your Stream<br>and connect with them!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <hr class="primary">
        </div>
      </div>
    </div>
  </aside>
    <div class="button-container">
      <div class="btn-content">
        <button type="button" class=" btn btn-dark" data-toggle="modal" data-target="#subscribeModal">
          Get early access
        </button>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div>
              <h4 class="modal-title">Be the first to know when we launch 🎉</h4>
              <p>Subscribe and get the privilege to try our beta soon ✌️</p>
            </div>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;
            </span></button>
          </div>
          <div class="modal-body">
            <%= form_tag users_path, method: :post, :class => "form-horizontal" do %>
            <% label_tag 'email', 'Enter email', :class => 'control-label' %>
            <%= email_field_tag :email, "", placeholder: "Enter Email", :class => "form-control" %>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button> -->
               <%= submit_tag "Subscribe", name: nil, class: "btn btn-block btn-primary" %>
            <% end %>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
